[Unit]
Description=Riftwind Flask Application
After=network.target

[Service]
Type=simple
User=sveder
Group=users
WorkingDirectory=/home/sveder/rift/riftwind
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="RIOT_API_KEY=RGAPI-b8c5eadf-fa1a-4955-bdce-2b86b8f19780"
ExecStart=/usr/bin/python3 /home/sveder/.local/bin/gunicorn -c gunicorn_config.py app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
